<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <title>12-Day Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>12-Day Milestone Project</h2>
          <h3>By Khomsun Singhirunnusorn</h3>
          <br><br>
          <ul>Click this link below:</ul>
          <br>
          <ul>
            <li><a href="/nasdaq"><h4>National Association of Securities Dealers Automated Quotations (NASDAQ)</h4></a></li>
            <li><a href="/amex"><h4>American Stock Exchange (AMEX)</h4></a></li>
            <li><a href="/nyse"><h4>New York Stock Exchange (NYSE)</h4></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

